@{ 
    Layout = null;
}
 
<link href="~/Style/Agreements.css" rel="stylesheet" />

 
<div class="agreenments">
    <div class="header-section">
        <p>
            This<strong> "Freelance Agreement "</strong> is Entered into and made effective as of <span>@DateTime.Now.ToShortDateString()</span>
            ,by and between :
        </p>
    </div>
    <ol>
        <li>
            <strong> "Express Video"</strong> which is a website <a href="www.expressvideo.in">( www.expressvideo.in )</a> registered and managed under the name "Moody Fox Productions",
            a sole proprietor company hereinafter referred to as<br> <span><strong>("Express Video", "we", "our" or "us") </strong></span>
            And
        </li>
        <li><span style="color:red; text-transform:uppercase">@CRM.Models.Global.GlobalFunctions.GetFullName()</span> hereinafter referred to as <strong>("you" or "Freelance')</strong> </li>
    </ol>
    <h4> WHEREAS :</h4>
    <ol>
        <li> Company has a need for<strong> Content Writing Services </strong>; and</li>
        <li>Freelancer has an interest in performing such services for us; and</li>
        <li> The parties wish to set forth the terms and conditions upon which such services will be provided to the Company.</li>
    </ol>
    <p>
        You must read, agree to, and accept all of the terms and conditions contained in this "Freelancer Agreement" in order to proceed with us. This Agreement shall become valid,
        effective and binding from the Effective Date and shall continue to be valid until terminated by the Company. The confidentiality obligations shall survive after the termination of this Agreement.
    </p>

    <!------------------------------------------------------DEFINITIONS SECTION------------------------------------------->

    <section class="Defination-section">
        <h4 class="bluetext">DEFINITIONS </h4>
        <p>"Freelancer" means any registered user utilizing the Site to offer Services to Express Video and its customers. </p>
        <p>"Freelancer Fees" means fixed fees agreed between Express Video and Freelancer; </p>
        <p>
            "Freelancer Deliverables" means project files, documents, requests, intellectual property, and any other information or materials
            that Express Video receives from a Freelancer under this Freelancer Agreement.
        </p>
        <p>"Express Video Deliverables" means documents, instructions, project details, Graphic Elements and any other information or materials that a Freelancer receives from us. </p>
        <p>
            "Express Video Customers" hereinafter referred to as ("Express Video Customers" or "Our Customers"), means any Work Order Express Video is bringing from
            its customers to their registered users or Freelancers.
        </p>
        <p>
            "Proprietary Rights" means any and all rights, title, ownership, and interest in and to copyrights, mask works, designs, trademarks, service marks, trade names, trade secrets, patents,
            and any other rights to intellectual property, recognized in any jurisdiction, whether or not perfected.
        </p>
        <p>"Work Order" means any tangible or intangible deliverables that Freelancer agrees to create for, or actually delivers to Customer as a result of performing the Freelancer Services on a particular Freelancer Contract. </p>
    </section>
    <!------------------------------------------------------DIGITAL SIGNATURE SECTION------------------------------------------->

    <section class="Digital-signature-section">
        <h4 class="bluetext"> 1. DIGITAL SIGNATURE </h4>
        <p>
            By registering on Express Video account on the Site (an "Account"), and accepting our Freelancer agreement you hereby agree to have executed this Agreement electronically.
            Your Account registration constitutes an acknowledgement that you are able to electronically receive, download and print this Agreement.
        </p>
        <h4 class="bluetext">2. FREELANCER REPRESENTATIONS AND WARRANTIES </h4>
        <p>For the purposes of the Freelancer Agreement, Freelancer hereby represents and warrants that </p>
        <p>
            (a) The content written by the script writer will be an original work and has not been previously published or used in any manner or medium.
            The content will not violate any copyright or intellectual property right of any third party.
        </p>
        <p>
            (b) The Work Order will fully confirm the requirements and terms set as per the "Project details" mentioned,
            for that particular work order in their Dashboard.
        </p>
        <p>
            (c) All freelance deliverables in terms of writing used to accomplish the Work Order, is solely a freelancer's responsibility and Express Video has no liability on it. It's the freelancer,
            who will be responsible to coordinate with the customer and make sure it satisfies their requirement.
        </p>
        <p>
            (d) Freelancer will deliver the Work Order with the same or
            to the highest quality as expected by Express Video customers within the timeline of the project.
        </p>
        <p>(e) After getting approval of the project assigned, Freelancer will have to upload the script files within the platform. </p>
        <p>(f) If at any time, Express Video is giving promotional discount offers to their customers, then the service fees of freelancers will also be calculated and transferred with that discounted price. </p>
        <p>(g) Freelancer will have to match the standard calculation to write the script based on No. of words as per video duration selected by customer. </p>
        <p></p>
        <!------------------------------------------------------DIGITAL SIGNATURE TABLE------------------------------------------->
        <div class="tablePart">
            <p style="margin:5px 0px">Check the table below:-</p>
            <table>
                <thead>
                    <tr>
                        <th> Speech Length Approx. Calculation </th>
                        <th>Slow</th>
                        <th>Average</th>
                        <th>Fast</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 minute</td>
                        <td> 100 words per minute</td>
                        <td>130 words per minute</td>
                        <td>160 words per minute </td>
                    </tr>
                    <tr>
                        <td style="border:none;"></td>
                    </tr>
                    <tr>
                        <td class="color">Speech Length</td>
                        <td class="color">Slow Speed</td>
                        <td class="color">Average Speed</td>
                        <td class="color">Fast Speed</td>
                    </tr>


                    <tr>
                        <td>0:15 minute video</td>
                        <td>25</td>
                        <td>32</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>0:30 minute video</td>
                        <td>50</td>
                        <td>65</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <td>1 minute video</td>
                        <td>100</td>
                        <td>130</td>
                        <td>160</td>
                    </tr>
                    <tr>
                        <td>1:30 minute video</td>
                        <td>150</td>
                        <td>295</td>
                        <td>240</td>
                    </tr>
                    <tr>
                        <td>2 minute video</td>
                        <td>200</td>
                        <td>260</td>
                        <td>320</td>
                    </tr>
                    <tr>
                        <td>2:30 minute video</td>
                        <td>250</td>
                        <td>325</td>
                        <td>400</td>
                    </tr>

                    <tr>
                        <td>3 minute video</td>
                        <td>300</td>
                        <td>390</td>
                        <td>480</td>
                    </tr>

                    <tr>
                        <td>3:30 minute video</td>
                        <td>350</td>
                        <td>455</td>
                        <td>560</td>
                    </tr>

                    <tr>
                        <td>4 minute video</td>
                        <td>400</td>
                        <td>520</td>
                        <td>640</td>
                    </tr>
                </tbody>
            </table>
        </div>



    </section>
    <!------------------------------------------------------ FREELANCER FEES & DELIVERY DAYS SECTION ------------------------------------------->
    <section class="Freelance-fees-section">
        <h4 class="bluetext">3. FREELANCER FEES & DELIVERY DAYS </h4>
        <p>
            The Freelancer fees of the Work Order depend upon the “Duration of Video” selected by our Express Video Customers.
            Freelancer will get a fixed 75% (of the total script fees charged to client) as the service fees based on the selection of our Express Video Customer.
            Express Video has fixed the no. of days the script should be delivered with approval from the customer.
        </p>
        <p style="margin:5px 0px">Below table clearly shows the freelancer fees & no. of day’s calculation which freelancer has to follow:-</p>

        <!------------------------------------------------------ FREELANCER FEES/RATES TABLE ------------------------------------------->
        <div class="tablePart">

            <table>
                <thead>
                    <tr>
                        <th>Duration of Video</th>
                        <th>Script fees Charged to client</th>
                        <th>Freelancer Fees (75%)</th>
                        <th>Delivery in No. of Days</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0:05 - 0:15 minute</td>
                        <td>900</td>
                        <td>675</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>0:16 - 0:30 minute </td>
                        <td>1200</td>
                        <td>900</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>0:30-1:00 minute</td>
                        <td>1500</td>
                        <td>1125</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>1:01 - 1:30 minute</td>
                        <td>2250</td>
                        <td>1688</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>1:31 - 2:00 minute</td>
                        <td>2925</td>
                        <td>2194</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>2:01 - 2:30 minute</td>
                        <td>3525</td>
                        <td>2644</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>2:31 - 3:00 minute</td>
                        <td>4050</td>
                        <td>3038</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>3:00 - 4:00 minute</td>
                        <td>5175</td>
                        <td>3881</td>
                        <td>4</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </section>
    <!------------------------------------------------------  PAYMENT TERMS/SCHEDULES SECTION------------------------------------------->
    <section class="Payment-Terms-section">
        <h4 class="bluetext">4. PAYMENT TERMS/SCHEDULES</h4>
        <p>Express Video disburses funds to Freelancer in monthly 2 payment slabs (1st and 15th of every month) under the Freelancer Agreement for the Work Order.</p>
        <p>
            We ensure the payment will be deposited in the freelancer’s bank account which is provided at the time of registration.
            If at any time, you want to update any changes in it, you need to mail us on <span style="color:blue; text-transform:lowercase;">support@expressvideo.in</span>
        </p>
        <p>
            Notwithstanding any other provision of this Agreement, and except as prohibited by applicable law, if we determine in our sole discretion
            that you have violated the conditions and restrictions of the Site or this Agreement, we hold the disbursement of the Freelancer Fees.
        </p>
        <p>Additionally, we may hold the disbursement of the Freelancer Fees if: </p>
        <p>(a) We have reason to believe the Freelancer Fees may be subject to dispute or chargeback.</p>
        <p>(b) We suspect any kind of fraud.</p>
    </section>
    <!------------------------------------------------------   INVOICES SECTION------------------------------------------->
    <section class="Invoice-section">
        <h4 class="bluetext">5. INVOICES</h4>
        <p>After delivering the Work order, Freelancer has to raise and generate bills from their dashboard and send it to us. Without that the service fees of freelancers will be kept on hold.</p>

    </section>
    <!------------------------------------------------------   KILL FEE OR CANCELLATION FEE SECTION------------------------------------------->
    <section class="Kill-fee-section">
        <h4 class="bluetext">6. KILL FEE OR CANCELLATION FEE</h4>
        <p>
            A kill fee is exactly what it sounds like – if customer has cancelled the order in between of the work assigned to Freelancer for whatever reason (Customer goes bankrupt, cancels the project, not satisfied with the quality you are serving, change of mind, etc.),
            then Express Video will pay a 50% of the agreed price of their Freelancer fees for the partial work they have done.
        </p>
    </section>

    <!------------------------------------------------------ PENALTY ON DELAY IN DELIVERIES OR CANCELLATION SECTION------------------------------------------->
    <section class="Penality-section ">
        <h4 class="bluetext">
            7. PENALTY ON DELAY IN DELIVERIES OR CANCELLATION
        </h4>
        <p>
            Express Video is committed to deliver the order to its customers on time and with quality.
            If the freelancer makes any kind of delay in delivery due to any reason whatsoever, then they will be penalized as per below:
        </p>
        <p>a)	10% deduction from their freelancer fees, if there is a delay of 1 day in delivery </p>
        <p>b)	25% deduction from their freelancer fees, if there is a delay of 2 days in delivery</p>
        <p>c)	50% deduction from their freelancer fees, if there is a delay of 3 days in delivery</p>
        <p>Due to any reason, if the freelancer surrenders or cancel the “Work Order” accepted by him, they will have to immediately call us and inform us on our customer care number.</p>
    </section>

    <!------------------------------------------------------ RATINGS AND REVIEW SECTION------------------------------------------->
    <section class="Ratings-section ">
        <h4 class="bluetext">
            8. RATINGS AND REVIEW
        </h4>
        <p>
            Rating and Reviews are one of the important features, through which Express Video review the performance of Freelancers and understands the satisfaction level of our customers. All freelancers registered on Express Video, will be given Ratings based on their skills, performance, delivery, behavior, etc.
            In most cases, ratings are given by our Express Video customers in the form of stars.
        </p>
        <p>Freelancers should definitely work on to keep their ratings up so that the chances of getting new projects will be higher. </p>
    </section>

    <!------------------------------------------------------INTELLECTUAL PROPERTY RIGHTS, COPYRIGHT AND OWNERSHIP SECTION------------------------------------------->
    <section class="Intellectual-section">
        <h4 class="bluetext">9. INTELLECTUAL PROPERTY RIGHTS, COPYRIGHT AND OWNERSHIP</h4>
        <p>
            a)	All information, data, text, documents, graphics, designs, images, pictures, photographs, videos, weblogs, interactive features or other content, services or materials (or any part of them) accessible on the website (hereafter referred to as the ‘Materials’) are protected by licensed,
            copyright, trademarks, database rights and other intellectual property rights are the intellectual property of the
            owners belong to them. Nothing contained herein shall be construed as conferring by implication, estoppel or otherwise, any license or right to use the Materials other than as permitted in these “Terms of Use”. Unless you have written permission from the
            original content supplier, you agree not to download, reproduce, modify, edit, alter or enhance any of the Materials.
        </p>
        <p>b)	All of the trademarks, service marks, brand and trade names and logos appearing on the website are the proprietary intellectual property of the owners of such marks or names and you may not use, modify, remove or otherwise infringe any of such proprietary intellectual property. </p>
        <p>c)	Freelancers can use the project's final outcome to showcase it to others (if they want to), only after adding an authorized watermark of Express Video on it. Without doing that will be considered as a breach of agreement. </p>

    </section>
    <!------------------------------------------------------EXPRESS VIDEO CONTACT INFORMATION SECTION------------------------------------------->

    <section class="Express-section">
        <h4 class="bluetext">10. EXPRESS VIDEO CONTACT INFORMATION</h4>
        <p>
            For any work production related concerns and communication (like production of work order, communication with customers, order queries, etc.),
            you have to mail us on <span style="color:blue; text-transform:lowercase;"> update@expressvideo.in</span>, which is specifically managed by the production in charge of Express Video.
        </p>
        <p>For any official concerns and communication (like payment concerns, website issues, account related, etc…), you have to mail us on <span style="color:blue; text-transform:lowercase;">  support@expressvideo.in</span>, which is specifically managed by our technical & support team. </p>
        <p>Alternately for any concerns you can contact us on our </p>
        <p>Customer Support no. <span style="color:blue;">+91-9643083000.</span> </p>
    </section>
    @if (CRM.Models.Global.GlobalFunctions.GetIsAgreementAccept().ToLower() == "false" || CRM.Models.Global.GlobalFunctions.GetIsAgreementAccept().ToLower() == "")
    {
        <div class="btn" onclick="AcceptAgreement()">ACCEPT</div>
    }
</div>
  
