@model DAL.SocialPage
@{
    Layout = null;
}
<head>
    <script src="~/Content/Theme/Admin/plugins/ckeditor/ckeditor.js"></script>
</head>
<div class="row">
    <input type="hidden" id="SocialPAgeId" value="@Model.SocialPAgeId" />
    <div class="col-md-4 col-sm-12">
        <div class="form-group">
            <label for="username">Social Page Name</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="SocialPageName" placeholder="Enter Social Page Name" value="@Model.SocialPageName" />
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="form-group">
            <label for="username">Social Page Link</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="SocialPageLink" placeholder="Enter Social Page Link" value="@Model.SocialPageLink" />
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12">
        <button class="btn" onclick="SaveSocialPage()">Save</button>
    </div>

</div>

<script>
    $(document).ready(function () {
        CKEDITOR.replace('Answer', {
            fullPage: true,
            extraPlugins: 'docprops',
            allowedContent: true,
            height: 320
        });



    });
    function SaveFaQ() {
        var data = {
            FaqId: $("#FaqId").val(),
            Question: $("#Question").val().trim(),
            Answer: CKEDITOR.instances.Answer.getData()
        };
        $.ajax({
            type: "POST",
            url: "/Faq/SaveFaQ",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                callPage('/Faq/Index', 'Faq', '');
            }
        });

    }
</script>