
@{
    ViewBag.Title = "FAQ";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

<style>
    .faq h3 {
        color: white;
    }
</style>

<div class="faq" style="text-align:left">
    @*<h2 style="text-align:center">FAQ</h2>*@
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <A HREF="javascript:void(0);">
            <FONT COLOR="#181717">
                <FONT FACE="Arial, serif">
                    What
                    is the process of placing the order?
                </FONT>
            </FONT>
        </A>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                For
                that, please visit our website
            </FONT>
        </FONT><A HREF="http://www.expressvideo.in"><FONT FACE="Arial, serif">www.expressvideo.in</FONT></A><FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                .
                After log in, select “Order your video” option and follow the
                steps mentioned therein. For more info, you can contact or email to
                us on:-
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                Customer
                Support: +91-9643083000
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-left: 1in; margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                Monday – Friday (9:30 AM – 6:30
                PM)
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-left: 1in; margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">Saturday (9:30 AM – 2 PM)</FONT>
        </FONT>
    </P>
    <P STYLE="margin-left: 1in; margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                Email:
                info@expressvideo.in
            </FONT>
        </FONT>
    </P>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            <B>
                What
                kind of business videos are you providing?
            </B>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            We
            provide mostly all type of business videos for all sectors. Doesn’t
            matter what kind of video you want to share or make for your business
            promotions. We deal in all.
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            Below
            mentioned are the video styles or types we provide:-
        </FONT>
    </P>
    <UL>
        <LI>
            <P STYLE="margin-bottom: 0in; line-height: 100%">
                <FONT FACE="Arial, serif">
                    Explainer
                    Video
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; line-height: 100%">
                <FONT FACE="Arial, serif">
                    Motion
                    graphic Video
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; line-height: 100%">
                <FONT FACE="Arial, serif">
                    Infographic
                    Video
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; line-height: 100%">
                <FONT FACE="Arial, serif">
                    Whiteboard
                    Animation Videos
                </FONT>
            </P>
    </UL>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            Just
            log on our website <A HREF="http://www.expressvideo.in">www.expressvideo.in</A>
            and
        </FONT><FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                go to
                “Sample Video” in menu bar and follow the steps given there.
            </FONT>
        </FONT>
    </P>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            <B>
                Do
                you provide services of script writing &amp; Voice over?
            </B>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            Yes
            we provide services of script writing and Voice over. Just log in to
            <A HREF="http://www.expressvideo.in">www.expressvideo.in</A> and
            select from our collection of voice over samples. It’s very easy.
        </FONT>
    </P>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            <B>
                Why
                should we choose you for our videos?
            </B>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                ExpressVideo
                is a professional platform for providing video making services to all
                our customers. We have professional artists who successfully
                delivered lot of videos in a very short span of time. Our platform
                itself is so unique that you will love how fast and professionally
                your video is delivered to you. You will definitely find some very
                different style and ideas for your business promotional videos on our
                platform. Apart from that all the points mentioned below making us
                unique and reliable from others.
            </FONT>
        </FONT>
    </P>
    <UL>
        <LI>
            <P STYLE="margin-bottom: 0in; line-height: 100%">
                <FONT COLOR="#181717">
                    <FONT FACE="Arial, serif">
                        Best
                        Quality Output
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; line-height: 100%">
                <FONT COLOR="#181717">
                    <FONT FACE="Arial, serif">
                        Lowest
                        cost
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; line-height: 100%">
                <FONT COLOR="#181717">
                    <FONT FACE="Arial, serif">
                        Easy
                        tracking
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P STYLE="margin-bottom: 0in; line-height: 100%">
                <FONT COLOR="#181717">
                    <FONT FACE="Arial, serif">
                        Secure
                        payment system
                    </FONT>
                </FONT>
            </P>
    </UL>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                <A HREF="javascript:void(0);">
                    How
                    do you maintain the quality of video?
                </A> What if the final video
                delivered is not same as the sample video selected by me?
            </FONT>
        </FONT>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                ExpressVideo
                always try to satisfy our customers as we understand the importance
                of promotional video for your business. The only thing is while
                ordering, when customer is providing or filling “Video Detail Form”
                then he/she should thoroughly check and fill their video requirement
                in details. ExpressVideo does not claim that the video you selected
                will be delivered as it is. The sample videos we have placed in the
                “Choose your sample video” section is
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, serif">
                just
                to showcase as references or to showcase the variety of videos
                customers can choose as a sample for their business promotional video
                requirements. Through that video, our team as well as the customers
                will get a broad sense that this type of quality (in terms of look &amp;
                feel, video style, music style, voice over, presentation, etc..) you
                required in your video. Our team always committed to make sure that
                you will get the best quality of promotional video for your business.
                We
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, serif">
                <SPAN STYLE="background: #ffffff">
                    will
                    provide maximum of two revisions at each &amp; every individual step
                    of production i.e., (script writing, Voice over recording,
                    Animation/Video making) so that you will get a fair chance to provide
                    feedback as per your requirement. To know more on the revision part,
                    please read from our “Terms &amp; Condition Section 08 –
                    Revision”.
                </SPAN>
            </FONT>
        </FONT>
    </P>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            <B>
                How
                should I know which sample video is good for my business?
            </B>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                It’s
                pretty simple.
            </FONT>
        </FONT><FONT FACE="Arial, serif">
            Just log on to
            our website <A HREF="http://www.expressvideo.in">www.expressvideo.in</A>
            and
        </FONT><FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                click on
                “Order your video” section. In that select “Choose your Sample
                Video” and check which video style you required. There are plenty
                of samples videos which you can choose according to your business
                video requirement. Just select whichever video you find interesting
            </FONT>
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, serif">
                (In
                terms of look &amp; feel, video style, music style, voice over,
                presentation, etc...) for your business video and our team will start
                working on it as per your requirement. Our team always committed to
                make sure that you will get the best quality video for your business
                promotions.
            </FONT>
        </FONT>
    </P>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <A HREF="javascript:void(0);">
            <FONT COLOR="#181717">
                <FONT FACE="Arial, serif">
                    Is
                    script writing &amp; voice over included in the cost?
                </FONT>
            </FONT>
        </A>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                No.
                Only Background music is included in the cost. There are separate
                charges for both script writing &amp; voice over. Their cost depends
                on the duration and your selection of artist. Login in with your
                account for more details related to pricing.
            </FONT>
        </FONT>
    </P>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                <A HREF="javascript:void(0);">How</A>
                do I track the progress of my video order?
            </FONT>
        </FONT>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                ExpressVideo
                has made one of the best and simple tracking systems for our
                customers so that they won’t feel panic at any step of video
                production and check the progress of the video whenever they want as
                per their convenience. They can visit their Dashboard by login in on
                our website and under “My Order” section they can check the
                status of the video as per the steps provided.
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                <A HREF="javascript:void(0);">How</A>
                do I understand that how many words are needed to accomplish my video
                duration requirement?
            </FONT>
        </FONT>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                ExpressVideo
                follows the standard calculation chart which is accepted and followed
                globally.
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        Check the table
        below to understand it well:-
    </P>
    <TABLE WIDTH=4369 CELLPADDING=3 CELLSPACING=0>
        <COL WIDTH=1476>
        <COL WIDTH=956>
        <COL WIDTH=956>
        <COL WIDTH=956>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=1476 HEIGHT=14 BGCOLOR="#b2a1c7" STYLE="border: 1px solid #000001; padding: 0in 0.03in">
                <P><FONT FACE="Calibri, serif">Speech Length Approx. Calculation</FONT></P>
            </TD>
            <TD WIDTH=956 BGCOLOR="#b2a1c7" STYLE="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">Slow</FONT></P>
            </TD>
            <TD WIDTH=956 BGCOLOR="#b2a1c7" STYLE="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">Average</FONT></P>
            </TD>
            <TD WIDTH=956 BGCOLOR="#b2a1c7" STYLE="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">Fast</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=1476 HEIGHT=15 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P><FONT FACE="Calibri, serif">1 minute</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P><FONT FACE="Calibri, serif">100 words per minute</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P><FONT FACE="Calibri, serif">130 words per minute</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P><FONT FACE="Calibri, serif">160 words per minute</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=1476 HEIGHT=15 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; padding: 0in 0.03in">
                <P>
                    <BR>
                </P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; padding: 0in 0.03in">
                <P>
                    <BR>
                </P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; padding: 0in 0.03in">
                <P>
                    <BR>
                </P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; padding: 0in 0.03in">
                <P>
                    <BR>
                </P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=1476 HEIGHT=15 BGCOLOR="#b2a1c7" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P><FONT FACE="Calibri, serif">Speech Length</FONT></P>
            </TD>
            <TD WIDTH=956 BGCOLOR="#b2a1c7" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">Slow Speed</FONT></P>
            </TD>
            <TD WIDTH=956 BGCOLOR="#b2a1c7" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">Average Speed</FONT></P>
            </TD>
            <TD WIDTH=956 BGCOLOR="#b2a1c7" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">Fast Speed</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=1476 HEIGHT=15 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P><FONT FACE="Calibri, serif">0:15 minute video</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">25</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">32</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">40</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=1476 HEIGHT=15 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P><FONT FACE="Calibri, serif">0:30 minute video</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">50</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">65</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">80</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=1476 HEIGHT=15 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P>
                    <FONT FACE="Calibri, serif">1 minute video </FONT>
                </P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">100</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">130</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">160</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=1476 HEIGHT=15 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P><FONT FACE="Calibri, serif">1:30 minute video</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">150</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">295</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">240</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=1476 HEIGHT=15 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P><FONT FACE="Calibri, serif">2 minute video</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">200</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">260</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">320</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=1476 HEIGHT=15 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P><FONT FACE="Calibri, serif">2:30 minute video</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">250</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">325</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">400</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=1476 HEIGHT=15 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P><FONT FACE="Calibri, serif">3 minute video</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">300</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">390</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">480</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=1476 HEIGHT=15 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P><FONT FACE="Calibri, serif">3:30 minute video</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">350</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">455</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">560</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=1476 HEIGHT=14 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #000001; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P><FONT FACE="Calibri, serif">4 minute video</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">400</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">520</FONT></P>
            </TD>
            <TD WIDTH=956 STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #000001; border-left: 1px solid #cccccc; border-right: 1px solid #000001; padding: 0in 0.03in">
                <P ALIGN=CENTER><FONT FACE="Calibri, serif">640</FONT></P>
            </TD>
        </TR>
    </TABLE>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            <B>
                What
                if I want to increase the length of the script and also the duration
                of the video after the order?
            </B>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            We
            support your decision. For that please read ou
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, serif">
                <SPAN STYLE="background: #ffffff">
                    r
                    “Terms &amp; Condition Section 7 – Duration of video increased”.
                </SPAN>
            </FONT>
        </FONT><FONT FACE="Arial, serif">
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            <B>
                What
                if I change my mind or want to cancel my order?
            </B>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            We
            respect your decision. But there are some criteria’s of that.
            Please
        </FONT><FONT COLOR="#000000">
            <FONT FACE="Arial, serif">
                <SPAN STYLE="background: #ffffff">
                    read
                    our “Terms &amp; Condition Section 10 – Refund Policy”.
                </SPAN>
            </FONT>
        </FONT>
    </P>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            <B>
                How
                long does it take to finalize and deliver a video?
            </B>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            After
            ordering, the video usually takes 2-3 working days depend upon the
            duration &amp; type of video you selected. And if you required with
            script writing &amp; voice over, then the process will take minimum
            of 6 working days.
        </FONT>
    </P>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <A HREF="javascript:void(0);">
            <FONT COLOR="#181717">
                <FONT FACE="Arial, serif">
                    How
                    If I need the source or Project File?
                </FONT>
            </FONT>
        </A>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                We
                are sorry but we do not share the source file or project file of the
                video. What you will get on the final delivery is your Video with the
                resolution you selected and in .MP4 format. You will also get (.wav)
                format of the voice over and background music.
            </FONT>
        </FONT>
    </P>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <A HREF="javascript:void(0);">
            <FONT COLOR="#181717">
                <FONT FACE="Arial, serif">
                    What
                    video format are you providing?
                </FONT>
            </FONT>
        </A>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                We
                will provide .MP4 format which is one of the most popular or
                acceptable format of times.
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <A HREF="javascript:void(0);">
            <FONT COLOR="#181717">
                <FONT FACE="Arial, serif">
                    Do
                    you provide custom resolution?
                </FONT>
            </FONT>
        </A>
    </H3>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                <SPAN STYLE="font-weight: normal">
                    Yes
                    we do provide custom resolutions of video for our customers. While
                    placing order they need to mention which resolution they want and we
                    will get it done. We recommend mentioning highest resolution as you
                    know you can anytime reduce the size of the video after delivery but
                    can’t increase it if you choose the lower resolution for your
                    order. The highest resolution we offered is (1920 x1920).
                </SPAN>
            </FONT>
        </FONT>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <BR>
    </H3>
    <H3 CLASS="western" STYLE="margin-top: 0in; line-height: 100%">
        <A HREF="javascript:void(0);">
            <FONT COLOR="#181717">
                <FONT FACE="Arial, serif">
                    Is
                    it possible if I want you to add images of my own product into the
                    video?
                </FONT>
            </FONT>
        </A>
    </H3>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                Yes
                definitely. There are a lot of times when customer has to or want to
                show his product actual images into the video which probably be
                required to show the authenticity and for branding of their products
                and services. For that, you can use our “Video Detail Form” while
                placing order and upload those images with some instructions of using
                it. Please make sure the images you upload are of High Quality (HD or
                more than that).
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            <B>
                Do
                you have option of sending your executive for a personal meeting
                after placing the order?
            </B>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            No.
            Our work process is totally online. We have made the structure very
            transparent and easy so that the customer won’t face any problem of
            miscommunication. Throughout the order process, our ExpressVideo team
            will continuously follow-up on each and every step of production to
            make sure that the customer will get what he wants as per their
            satisfaction. The mode of communication can be anything through
            phone, chats, email or video calling.
        </FONT>
    </P>
    <P STYLE="margin-left: 0.5in; margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            <B>
                Is
                the price added with GST?
            </B>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                No.
                GST of 18% will be charged extra. It will be mentioned in the tax
                invoice.
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            <B>
                How
                secure is your Platform?
            </B>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                ExpressVideo
                is a very secure platform.
            </FONT>
        </FONT><FONT COLOR="#111111">
            <FONT FACE="Helvetica, serif">
                <SPAN STYLE="background: #ffffff">
                    An
                    SSL certificate &amp; website security of ExpressVideo gives
                    protection to our site that all data is encrypted and can’t be
                    stolen, altered or misused. Website security protects a website and
                    its data from hackers, malware and other security threats.
                </SPAN>
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            <B>
                Which
                payment gateway you used? Is it secured?
            </B>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#111111">
            <FONT FACE="Helvetica, serif">
                <SPAN STYLE="background: #ffffff">
                    Our
                    payment gateway partner is Cash free (
                </SPAN>
            </FONT>
        </FONT><A HREF="https://www.cashfree.com"><FONT FACE="Helvetica, serif"><SPAN STYLE="background: #ffffff">https://www.cashfree.com</SPAN></FONT></A><FONT COLOR="#111111"><FONT FACE="Helvetica, serif"><SPAN STYLE="background: #ffffff">)</SPAN></FONT></FONT><FONT COLOR="#333333">
            <FONT FACE="Arial, serif">
                <FONT SIZE=2 STYLE="font-size: 10pt">
                    <SPAN STYLE="background: #ffffff">
                        .
                        Yes Cash free is a secured payment system. On Cash free, you get the
                        widest range of payment options. They support Credit Card, Debit
                        Card, Net Banking, NEFT, IMPS, Paytm and other wallets, UPI via BHIM
                        UPI, Google Pay, PhonePe etc.
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            <B>
                How
                do I contact if I have some doubts or queries?
            </B>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                You
                can contact or email to us on the below details for any query. Our
                team will respond within 48 hrs. related to it.
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                Customer
                Support: +91-9643083000
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                Email:
                info@expressvideo.in
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT FACE="Arial, serif">
            <B>
                How
                if I need to contact apart from the customer support timings
                mentioned on the website?
            </B>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <FONT COLOR="#181717">
            <FONT FACE="Arial, serif">
                You
                can contact us anytime through emails. Our team always tries to
                respond to any concern within 48 hrs related to it.
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%">
        <BR>
    </P>
</div>
