@media all and (max-width: 320px) {
    .navbar-custom .nav-link {
        padding: 0 0.75rem;
        color: #7081b9;
        /* line-height: 0px; */
        max-height: 70px;
    }

    .wch-img p {
        color: rgb(96,92,93);
        /* margin-top: -8px; */
        margin-top: 33px;
    }

    .wch-img {
        text-align: center;
        margin-top: 20px;
        height: 405px;
    }

        .wch-img h2 {
            color: rgb(96,92,93);
            height: 3rem;
            font-size: 2.5rem;
            width: 100%;
            text-align: center;
            /* margin: 25px auto; */
            margin-top: 7px;
            line-height: 2.5rem;
        }

    #lowPriceContent {
        margin-top: 57px;
    }

    .section {
        padding-top: 34px;
        padding-bottom: 2px;
    }

    .section-title {
        font-family: Montserrat-Bold;
        font-size: 2.5rem;
        line-height: 5rem;
    }

    .whychooseus {
        margin-top: 103rem;
    }


    .navbar .brand {
        /* float: left; */
        /* width: 296px; */
        font-size: 27px;
    }

    .getpromo-price {
        font-size: 6rem;
        color: white;
        width: 74%;
        margin: 0 auto;
    }

    .our-services {
        margin-top: 14rem;
    }

    .viewsample-dropdown {
        padding-top: 18px;
        padding-bottom: 30px;
    }

    .how-it-works {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
    }

    .reservedby {
        position: absolute;
        bottom: -257px;
        left: 6%;
    }


    .videoTopDetails .vHeading {
        font-size: 2.5rem;
        font-weight: bold;
        position: relative;
    }

    .OrderYourVideo, .DownloadYourVideo {
        width: 239px;
        height: 81px;
        padding: 6px;
        margin: 0px;
        float: right;
        border-radius: 1px;
        text-align: center;
        color: black;
        font-weight: bold;
        margin-top: 211px;
        margin-right: 0%;
    }

        /*.LatestOrder {
        background-color: white;
        padding: 7px;
        border-radius: 2px;
        margin-top: -181px;
    }*/

        .OrderYourVideo h3 {
            line-height: 25px;
            font-size: 24px;
        }

    .top-line {
        width: 71%;
        height: 241px;
        background-size: 103% 100%;
        margin-top: -68px;
        margin-left: -44px;
    }

    #UpdateProfileBtn {
        margin: 0px auto;
        padding: 40px 0px;
    }


    .profilearea .profilephoto {
        width: 90%;
        margin-left: 0;
        margin-top: -16px;
        border-radius: 0;
        padding: 0;
        background-color: #d1d3d6;
        border: 0px solid #122640;
        border-radius: 0.25rem;
        max-width: 100%;
        height: auto;
    }

    .page-wrapper .page-content {
        width: 100%;
        position: relative;
        min-height: 100vh;
        /* padding: 0 15px 60px 15px; */
    }

    .btnlogout-left {
        margin: 0 auto;
        min-width: 138px;
        line-height: 3;
        left: -17%;
        transform: scale(0.75);
    }

    .btnlogout-right {
        margin: 0 auto;
        min-width: 138px;
        line-height: 3;
        left: -17%;
        transform: scale(0.75);
    }

    .three_dot {
        margin-top: 20px;
        width: 85px;
        display: inline-block;
    }



    .Total-earning {
        width: 234px;
        height: 177px;
        background-color: rgb(235,203,20);
        color: black;
        text-align: center;
        padding: 3rem 2rem;
        border-radius: 18px;
        font-size: 1.8rem;
        float: none;
        font-weight: bold;
        margin: 230px auto;
        /* margin-left: -23rem; */
        position: absolute;
        left: 10px;
        top: 31px;
    }

    .top-line {
        background-image: url(../Content/Images/dashboard/freelancer1.png);
        background-repeat: no-repeat;
        width: 100%;
        transform: scaleX(-1) scale(1.5);
        position: absolute;
        height: 15rem;
        left: -5rem;
        margin-left: 83px;
        top: 0rem;
    }

    .navbar_text {
        position: absolute;
        top: 64px;
        right: 24px;
    }

    .profilearea {
        width: 268px;
        height: 268px;
        margin-left: -29px;
    }

    .announcement .announcement-heading {
        text-align: left;
        background-color: #388df8;
        margin-top: 0px;
        padding: 1rem 0.5rem;
        font-size: 1.4rem;
        font-family: MyriadPro-pro;
        /* font-weight: bolder; */
        color: white;
    }

    .announcement {
        background-color: white;
        height: 101vh;
        border-radius: 2px;
        overflow-y: auto;
        margin: -4px auto;
    }

    .modal.show .modal-dialog {
        -webkit-transform: none;
        transform: none;
        margin-left: 20px;
    }

    .uploadprofileicon {
    width: 40px;
    margin-left: 69px;
    margin-top: -140px;
}

    .imageDetails {
        position: relative;
        bottom: 65px;
        left: -36px;
    }
    .btnupdateprofile {
    width: 100%;
    left: -97px;
}
}
